@import '../../node_modules/bootstrap/scss/bootstrap';

body {
  font-family: 'Roboto', sans-serif;
}

thead {
  background-color: $gray-500;
  color: #fff;
  > tr > * {
    vertical-align: middle;
  }
}

tbody > tr > * {
  color: $gray-600 !important;
  vertical-align: middle;
}

.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}

#listNotes {
  thead > tr > * {
    &:nth-child(1) {
      width: 60px;
      min-width: 60px;
    }
    &:nth-child(2) {
      width: 200px;
    }
    &:nth-child(3) {
      width: 150px;
    }
    &:nth-child(4) {
      width: 200px;
    }
    &:nth-child(6) {
      width: 200px;
    }
    &:nth-child(7) {
      width: 165px;
      min-width: 165px;
    }
  }
}

#summaryNotes {
  thead > tr > * {
    &:nth-child(1) {
      width: 60px;
      min-width: 60px;
    }
    &:nth-child(3) {
      width: 25%;
    }
    &:nth-child(4) {
      width: 25%;
    }
  }
}

#listNotes,
#summaryNotes {
  .avatar {
    background-color: $gray-600;
  }
}
